 <!--INICIO DO EMAIL PARA CONTATO-->
 <div class="section has-background-light contact" id="contact">
    <div class="container">
        <div class="columns is-multiline" data-aos="fade-in-up" data-aos-easing="linear">
            <div class="column is-12 about-me">
                <h1 class="title has-text-centered section-title red">
                    Entre em contato pelo Email
                </h1>
            </div>
            <div class="column is-8 is-offset-2">
                <form action="#" method="POST">
                    <div class="field">
                        <label class="nome red">Nome</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Ex. Vasco da Gama" name="Name" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="email red">Email</label>
                        <div class="control has-icons-left">
                            <input class="input" type="email" placeholder="Ex. vasco@gmail.com" name="Email" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label red">Message</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="CHORA QUE EU TE ESCUTO"
                                name="Message"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-large is-fullwidth  is-link submit-button">
                                Enviar&nbsp;&nbsp; <!--Espaço sem quebra-->
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--FINAL DO EMAIL PARA CONTATO-->