.section.is-large {
    padding: 6rem 6rem;
  }
.alinhado{
    text-align: center;
    padding-bottom: 55px;
  }

  /* espaçamento  */
.pricing-table {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .hero.is-fullheight {
    min-height: 40vh;
  }